<div class="border p-1 row">

    <ng-container *ngFor="let peli of pelicula">
        <ng-container *ngIf="peli.id_categoria == id_categoria">
            <div class="col-md-3 p-1">
                <div class="border p-1">
                    <img src="{{peli.nombre}}" class="img-rounded col-md-12">
                    <hr>
                    <h4>Duracion: {{peli.duracion}}</h4><br>

                    <p>
                        {{peli.descripcion}}
                    </p>
                </div>

            </div>
        </ng-container>
        <router-outlet></router-outlet>



    </ng-container>




</div>